/bootstrap/*
/config/*
/database/*
/.phpunit.cache
/node_modules
/public/*
/storage
/vendor
/.editorconfig
/.env
/.env.backup
/.env.testing
/.env.example
/.env.production
/.phpunit.result.cache
/artisan
/composer.json
/composer.lock
/package-lock.json
/package.json
/phpunit.xml
/tailwind.config.js
/tsconfig.json
/webpack.mix.js